.body {
    font-family: jokerman;
    margin-top: 75px;
	
    margin:auto ;
}
.header {
	padding-left:20px;
	font-size:120%;
	background-color:black;
	color:white;
	text-align:center;
}
.side{
	margin-left:200px;
	font-size:20px;
	
}
.center {

    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}
#box1,#box2,#box3 {
    font-family:Times new roman;
	border:solid;
	height:200px;
	width:200px;
	
	margin-left:150px;margin-right:10px;
	background-color:black;
	color:white;
	padding-left:20px;
	padding-bottom:4px;
	float:left;
}

.img-medium {
    height: 150px;
}
.img-medium1 {
    height:100px;
}

.footer{
    margin-left:20px;
    border-bottom:1px solid #cccccc;
}
