.body {
    
    font-family:Vivaldi;
	width:1100px;
	max-width:95%;
    margin:auto ;
}
.header {
	padding-left:20px;
	font-size:120%;
	background-color:black;
	color:white;
	text-align:center;
}
.side{
	margin-left:200px;
	font-size:20px
	
}
.center {

    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

#box1,#box2,#box3 {
    font-family:cursive;
	border:solid;
	height:auto;
	width:auto;

	margin-left:150px;
	background-color:black;
	color:white;
	padding-left:20px;
	margin-right:150px;
	padding-bottom:4px;
	/*float:left;*/
}

.img-medium {
    height: 150px;
}
.img-medium1 {
    height:100px;
}
.footer{

    display:block;
float:left;
    margin-left:20px;
    
    
}
.rect{
	
	display:inline-block;
	height:75px;
	width:80px;
	border-radius:10px;
	float:center;
	/* margin-left:auto;  */
	/* margin-top:100px; */
	background-color:red;

	
}

#rec{
	position:absolute;
	
	left:345px;
	height:75px;
	width:80px;
	border-radius:10px;
	
	 
	 
	background-color:red;
	
}
#recq{
	position:absolute;
	left:92px;
	top:187px;
	height:75px;
	width:80px;
	border-radius:10px;
	
	 
	 
	background-color:red;
	
}
#recq1{
	position:absolute;
	left:177px;
	top:187px;
	height:75px;
	width:80px;
	border-radius:10px;
	
	 
	 
	background-color:red;
	
}
#recq2{
	position:absolute;
	left:260px;
	top:187px;
	height:75px;
	width:80px;
	border-radius:10px;
	
	 
	 
	background-color:red;
	
}



